/*Need to make this things universal / it is good habit*/
*{
    margin: 0;
    border:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*Nav bar :-*/
.navbar{
    height: 70px;
    background-color: #0F1111;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.logo{
    height: 58px;
    width: 130px;
    background-image: url("amazonlogo.png");
    background-size: cover;
    
}

 .boder{
    border: 2px solid transparent;
} 
.boder:hover{
    border: 2px solid white;
}
/*Box1*/
.address{
    font-size: 0.875rem;
    color: #cccccc;
    
}
.add-logo{
    display: flex;
    font-size:0.999rem;
    color: white;

}
#deliver{
    padding-left: 20px;
}
/*Box 2*/
.searchbar{
    width:50%;
    height:40px;
    background-color: aqua;
    display: flex;
    background-color: #0F1111;
    
}
.select{
    width: 52px;
    height: 40px;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    border: none;
    background-color: #E6E6E6;
}
.space{
    width: 100%;
   font-size: 1rem;
   border: none;
}
.searchbutton{
    height: 40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    color: black;
    background-color: rgba(255, 170, 0, 0.923);
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}
.searchbar:hover{
    border: 2px solid rgba(255, 170, 0, 0.923);
}
/*Box 3/4/5 */
.firsttext {
    font-size: 0.625rem;
}

.secondtext{
    font-weight: 700;
}
.cart {
    display: flex;
}
.cart p{
    font-size: small;
    padding-top: 15px;
}
.cart i {
    font-size: 1.563rem;
    padding-top: 5px;
}
/*Panel*/
.panel{
    background-color: #232F3E;
    height: 40px;
    color: white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    
}
.menu{
    display: flex;
   

}
.opt{
    display: flex;
    width: 730px;
    
}
.opt p{
    margin-right: 20px;
    font-size: 0.75rem;
    
}
.sale{
    display:flex;
    font-size:1.25rem;
    
    
}
#sale-two{
    margin-left: 5px;
    padding-left: 5px;
    border-left: 2px solid white;
}
/*Hero section*/
.hero{
    height:350px;
    background-image: url("hero.jpg");
    background-size: cover;
}
/*content one-;;;;;*/
.contentone{
    display: flex;
    justify-content: space-evenly;
    background-color: #da0add2a;
    padding-top: 20px;

}
.box{
    background-color: white;
    height: 320px;
    width: 300px;
    border: 1px solid rgb(255, 255, 255);

  
}
.box p{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    padding-left: 2px;
    
}
.b{
    border: 1px solid black;
    width: 100px;
    height: 70px;
    background-color: aqua;
    background-size: cover;
    
} 
.bb{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 210px;
    width: 250px;
    border:1px solid black;
    position: relative;
    top: 20px;
    left: 25px;
    background-color: white;
}
/* content2 */
 .contenttwo{
    height: 290px;
    background-color: white;
    margin-top: 20px;

} 
.contenttwo p{
    padding-top: 20px;
    font-size: 30px;
    padding-left: 10px;    

}
.contenttwo p a{
    padding-top: 20px;
    font-size: 15px;
    text-decoration: none;    
}
.innner{
    height: 200px;
   
    width: 90%;
    margin-left: 55px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bx{
    
    width: 250px;
    height: 160px;
    background-size: cover;
}
/* Footer */
.f1{
    height: 180px;
    border-top: 1px solid rgba(0, 0, 0, 0.268);
    border-bottom: 1px solid rgba(0, 0, 0, 0.268);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#p1{
    font-size: 30px;
}
.f1 button{
    width: 150px;
    height: 30px;
   background-color: rgb(255, 191, 0);
}
.f2{
    
    background-color: #243a55e4;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f3{
    height: 250px;
    
    background-color: #232F3E;
    color: white(255, 255, 255, 0.437);
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;

}
.f3 li{
    list-style: none;
    color: white;
    font-size: small;
    font-weight: 400;
}
#lione{
    font-size: 25px;

}
.f4{
    background-color: #232F3E;
    height: 100px;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;


}
#flogo{
    width: 150px;
    height: 70px;
    background-color: white ;
    background-image: url("amazonlogo.png");
    background-size: cover;
}
.f5{
    height: 120px;
    background-color: #131A22;
    color: rgba(255, 255, 255, 0.441);
    display: flex;
    flex-direction: column;
    font-size: small;
    border: none;
    justify-content: center;
    align-items: center;
}